<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditConsultaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditConsultaLabel_idcitas}" for="idcitas" />
                    <h:inputText id="idcitas" value="#{consultaController.selected.idcitas}" title="#{bundle.EditConsultaTitle_idcitas}" required="true" requiredMessage="#{bundle.EditConsultaRequiredMessage_idcitas}"/>
                    <h:outputLabel value="#{bundle.EditConsultaLabel_tratamiento}" for="tratamiento" />
                    <h:inputText id="tratamiento" value="#{consultaController.selected.tratamiento}" title="#{bundle.EditConsultaTitle_tratamiento}" />
                    <h:outputLabel value="#{bundle.EditConsultaLabel_fecha}" for="fecha" />
                    <h:inputText id="fecha" value="#{consultaController.selected.fecha}" title="#{bundle.EditConsultaTitle_fecha}" >
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditConsultaLabel_descrip}" for="descrip" />
                    <h:inputText id="descrip" value="#{consultaController.selected.descrip}" title="#{bundle.EditConsultaTitle_descrip}" />
                    <h:outputLabel value="#{bundle.EditConsultaLabel_veterinarioidVeterinario}" for="veterinarioidVeterinario" />
                    <h:selectOneMenu id="veterinarioidVeterinario" value="#{consultaController.selected.veterinarioidVeterinario}" title="#{bundle.EditConsultaTitle_veterinarioidVeterinario}" required="true" requiredMessage="#{bundle.EditConsultaRequiredMessage_veterinarioidVeterinario}">
                        <f:selectItems value="#{veterinarioController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditConsultaLabel_expedienteIdexpediente}" for="expedienteIdexpediente" />
                    <h:selectOneMenu id="expedienteIdexpediente" value="#{consultaController.selected.expedienteIdexpediente}" title="#{bundle.EditConsultaTitle_expedienteIdexpediente}" required="true" requiredMessage="#{bundle.EditConsultaRequiredMessage_expedienteIdexpediente}">
                        <f:selectItems value="#{expedienteController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{consultaController.update}" value="#{bundle.EditConsultaSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditConsultaViewLink}"/>
                <br />
                <h:commandLink action="#{consultaController.prepareList}" value="#{bundle.EditConsultaShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditConsultaIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
