<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListConsultaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListConsultaEmpty}" rendered="#{consultaController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{consultaController.items.rowCount > 0}">
                    <h:outputText value="#{consultaController.pagination.pageFirstItem + 1}..#{consultaController.pagination.pageLastItem + 1}/#{consultaController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{consultaController.previous}" value="#{bundle.Previous} #{consultaController.pagination.pageSize}" rendered="#{consultaController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{consultaController.next}" value="#{bundle.Next} #{consultaController.pagination.pageSize}" rendered="#{consultaController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{consultaController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListConsultaTitle_idcitas}"/>
                            </f:facet>
                            <h:outputText value="#{item.idcitas}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListConsultaTitle_tratamiento}"/>
                            </f:facet>
                            <h:outputText value="#{item.tratamiento}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListConsultaTitle_fecha}"/>
                            </f:facet>
                            <h:outputText value="#{item.fecha}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListConsultaTitle_descrip}"/>
                            </f:facet>
                            <h:outputText value="#{item.descrip}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListConsultaTitle_veterinarioidVeterinario}"/>
                            </f:facet>
                            <h:outputText value="#{item.veterinarioidVeterinario}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListConsultaTitle_expedienteIdexpediente}"/>
                            </f:facet>
                            <h:outputText value="#{item.expedienteIdexpediente}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{consultaController.prepareView}" value="#{bundle.ListConsultaViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{consultaController.prepareEdit}" value="#{bundle.ListConsultaEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{consultaController.destroy}" value="#{bundle.ListConsultaDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{consultaController.prepareCreate}" value="#{bundle.ListConsultaCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListConsultaIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
