<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewConsultaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewConsultaLabel_idcitas}"/>
                    <h:outputText value="#{consultaController.selected.idcitas}" title="#{bundle.ViewConsultaTitle_idcitas}"/>
                    <h:outputText value="#{bundle.ViewConsultaLabel_tratamiento}"/>
                    <h:outputText value="#{consultaController.selected.tratamiento}" title="#{bundle.ViewConsultaTitle_tratamiento}"/>
                    <h:outputText value="#{bundle.ViewConsultaLabel_fecha}"/>
                    <h:outputText value="#{consultaController.selected.fecha}" title="#{bundle.ViewConsultaTitle_fecha}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewConsultaLabel_descrip}"/>
                    <h:outputText value="#{consultaController.selected.descrip}" title="#{bundle.ViewConsultaTitle_descrip}"/>
                    <h:outputText value="#{bundle.ViewConsultaLabel_veterinarioidVeterinario}"/>
                    <h:outputText value="#{consultaController.selected.veterinarioidVeterinario}" title="#{bundle.ViewConsultaTitle_veterinarioidVeterinario}"/>
                    <h:outputText value="#{bundle.ViewConsultaLabel_expedienteIdexpediente}"/>
                    <h:outputText value="#{consultaController.selected.expedienteIdexpediente}" title="#{bundle.ViewConsultaTitle_expedienteIdexpediente}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{consultaController.destroyAndView}" value="#{bundle.ViewConsultaDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewConsultaEditLink}"/>
                <br />
                <h:commandLink action="#{consultaController.prepareCreate}" value="#{bundle.ViewConsultaCreateLink}" />
                <br />
                <h:commandLink action="#{consultaController.prepareList}" value="#{bundle.ViewConsultaShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewConsultaIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
