<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">


    <body>
    
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                  <h:outputLabel value="#{bundle.CreateAdopcionLabel_resultado}" for="resultado" />
                    <h:inputText id="resultado" value="#{adopcionController.selected.resultado}" title="#{bundle.CreateAdopcionTitle_resultado}" required="true" requiredMessage="#{bundle.CreateAdopcionRequiredMessage_resultado}"/>
                    <h:outputLabel value="#{bundle.CreateAdopcionLabel_adopcionAprobada}" for="adopcionAprobada" />
                    <h:inputText id="adopcionAprobada" value="#{adopcionController.selected.adopcionAprobada}" title="#{bundle.CreateAdopcionTitle_adopcionAprobada}" />
                    <h:outputLabel value="#{bundle.CreateAdopcionLabel_adoptanteidAdoptante}" for="adoptanteidAdoptante" />
                    <h:selectOneMenu id="adoptanteidAdoptante" value="#{adopcionController.selected.adoptanteidAdoptante}" title="#{bundle.CreateAdopcionTitle_adoptanteidAdoptante}" required="true" requiredMessage="#{bundle.CreateAdopcionRequiredMessage_adoptanteidAdoptante}">
                        <f:selectItems value="#{adoptanteController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreateAdopcionLabel_mascotasIdmascotas}" for="mascotasIdmascotas" />
                    <h:selectOneMenu id="mascotasIdmascotas" value="#{adopcionController.selected.mascotasIdmascotas}" title="#{bundle.CreateAdopcionTitle_mascotasIdmascotas}" required="true" requiredMessage="#{bundle.CreateAdopcionRequiredMessage_mascotasIdmascotas}">
                        <f:selectItems value="#{mascotasController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{adopcionController.create}" value="#{bundle.CreateAdopcionSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{adopcionController.prepareList}" value="#{bundle.CreateAdopcionShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateAdopcionIndexLink}"/>
            </h:form>

    </body>
</html>
