<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditAdopcionTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditAdopcionLabel_idadopcion}" for="idadopcion" />
                    <h:inputText id="idadopcion" value="#{adopcionController.selected.idadopcion}" title="#{bundle.EditAdopcionTitle_idadopcion}" required="true" requiredMessage="#{bundle.EditAdopcionRequiredMessage_idadopcion}"/>
                    <h:outputLabel value="#{bundle.EditAdopcionLabel_resultado}" for="resultado" />
                    <h:inputText id="resultado" value="#{adopcionController.selected.resultado}" title="#{bundle.EditAdopcionTitle_resultado}" required="true" requiredMessage="#{bundle.EditAdopcionRequiredMessage_resultado}"/>
                    <h:outputLabel value="#{bundle.EditAdopcionLabel_adopcionAprobada}" for="adopcionAprobada" />
                    <h:inputText id="adopcionAprobada" value="#{adopcionController.selected.adopcionAprobada}" title="#{bundle.EditAdopcionTitle_adopcionAprobada}" />
                    <h:outputLabel value="#{bundle.EditAdopcionLabel_adoptanteidAdoptante}" for="adoptanteidAdoptante" />
                    <h:selectOneMenu id="adoptanteidAdoptante" value="#{adopcionController.selected.adoptanteidAdoptante}" title="#{bundle.EditAdopcionTitle_adoptanteidAdoptante}" required="true" requiredMessage="#{bundle.EditAdopcionRequiredMessage_adoptanteidAdoptante}">
                        <f:selectItems value="#{adoptanteController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditAdopcionLabel_mascotasIdmascotas}" for="mascotasIdmascotas" />
                    <h:selectOneMenu id="mascotasIdmascotas" value="#{adopcionController.selected.mascotasIdmascotas}" title="#{bundle.EditAdopcionTitle_mascotasIdmascotas}" required="true" requiredMessage="#{bundle.EditAdopcionRequiredMessage_mascotasIdmascotas}">
                        <f:selectItems value="#{mascotasController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{adopcionController.update}" value="#{bundle.EditAdopcionSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditAdopcionViewLink}"/>
                <br />
                <h:commandLink action="#{adopcionController.prepareList}" value="#{bundle.EditAdopcionShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditAdopcionIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
