<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>
        
        

            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListAdopcionEmpty}" rendered="#{adopcionController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{adopcionController.items.rowCount > 0}">
                    <h:outputText value="#{adopcionController.pagination.pageFirstItem + 1}..#{adopcionController.pagination.pageLastItem + 1}/#{adopcionController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{adopcionController.previous}" value="#{bundle.Previous} #{adopcionController.pagination.pageSize}" rendered="#{adopcionController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{adopcionController.next}" value="#{bundle.Next} #{adopcionController.pagination.pageSize}" rendered="#{adopcionController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{adopcionController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAdopcionTitle_idadopcion}"/>
                            </f:facet>
                            <h:outputText value="#{item.idadopcion}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAdopcionTitle_resultado}"/>
                            </f:facet>
                            <h:outputText value="#{item.resultado}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAdopcionTitle_adopcionAprobada}"/>
                            </f:facet>
                            <h:outputText value="#{item.adopcionAprobada}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAdopcionTitle_adoptanteidAdoptante}"/>
                            </f:facet>
                            <h:outputText value="#{item.adoptanteidAdoptante}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAdopcionTitle_mascotasIdmascotas}"/>
                            </f:facet>
                            <h:outputText value="#{item.mascotasIdmascotas}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{adopcionController.prepareView}" value="#{bundle.ListAdopcionViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{adopcionController.prepareEdit}" value="#{bundle.ListAdopcionEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{adopcionController.destroy}" value="#{bundle.ListAdopcionDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{adopcionController.prepareCreate}" value="#{bundle.ListAdopcionCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListAdopcionIndexLink}"/>
            </h:form>
    </body>

</html>
