<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <body>
    
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewAdopcionLabel_idadopcion}"/>
                    <h:outputText value="#{adopcionController.selected.idadopcion}" title="#{bundle.ViewAdopcionTitle_idadopcion}"/>
                    <h:outputText value="#{bundle.ViewAdopcionLabel_resultado}"/>
                    <h:outputText value="#{adopcionController.selected.resultado}" title="#{bundle.ViewAdopcionTitle_resultado}"/>
                    <h:outputText value="#{bundle.ViewAdopcionLabel_adopcionAprobada}"/>
                    <h:outputText value="#{adopcionController.selected.adopcionAprobada}" title="#{bundle.ViewAdopcionTitle_adopcionAprobada}"/>
                    <h:outputText value="#{bundle.ViewAdopcionLabel_adoptanteidAdoptante}"/>
                    <h:outputText value="#{adopcionController.selected.adoptanteidAdoptante}" title="#{bundle.ViewAdopcionTitle_adoptanteidAdoptante}"/>
                    <h:outputText value="#{bundle.ViewAdopcionLabel_mascotasIdmascotas}"/>
                    <h:outputText value="#{adopcionController.selected.mascotasIdmascotas}" title="#{bundle.ViewAdopcionTitle_mascotasIdmascotas}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{adopcionController.destroyAndView}" value="#{bundle.ViewAdopcionDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewAdopcionEditLink}"/>
                <br />
                <h:commandLink action="#{adopcionController.prepareCreate}" value="#{bundle.ViewAdopcionCreateLink}" />
                <br />
                <h:commandLink action="#{adopcionController.prepareList}" value="#{bundle.ViewAdopcionShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewAdopcionIndexLink}"/>

            </h:form>

    </body>
</html>
