<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">



            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateAdoptanteLabel_idAdoptante}" for="idAdoptante" />
                    <h:inputText id="idAdoptante" value="#{adoptanteController.selected.idAdoptante}" title="#{bundle.CreateAdoptanteTitle_idAdoptante}" required="true" requiredMessage="#{bundle.CreateAdoptanteRequiredMessage_idAdoptante}"/>
                    <h:outputLabel value="#{bundle.CreateAdoptanteLabel_ocupacion}" for="ocupacion" />
                    <h:inputText id="ocupacion" value="#{adoptanteController.selected.ocupacion}" title="#{bundle.CreateAdoptanteTitle_ocupacion}" />
                    <h:outputLabel value="#{bundle.CreateAdoptanteLabel_edad}" for="edad" />
                    <h:inputText id="edad" value="#{adoptanteController.selected.edad}" title="#{bundle.CreateAdoptanteTitle_edad}" />
                    <h:outputLabel value="#{bundle.CreateAdoptanteLabel_ife}" for="ife" />
                    <h:inputText id="ife" value="#{adoptanteController.selected.ife}" title="#{bundle.CreateAdoptanteTitle_ife}" />
                    <h:outputLabel value="#{bundle.CreateAdoptanteLabel_tipoVivienda}" for="tipoVivienda" />
                    <h:inputText id="tipoVivienda" value="#{adoptanteController.selected.tipoVivienda}" title="#{bundle.CreateAdoptanteTitle_tipoVivienda}" />
                    <h:outputLabel value="#{bundle.CreateAdoptanteLabel_tipoPropiedad}" for="tipoPropiedad" />
                    <h:inputText id="tipoPropiedad" value="#{adoptanteController.selected.tipoPropiedad}" title="#{bundle.CreateAdoptanteTitle_tipoPropiedad}" />
                    <h:outputLabel value="#{bundle.CreateAdoptanteLabel_usuarioIdusuario}" for="usuarioIdusuario" />
                    <h:selectOneMenu id="usuarioIdusuario" value="#{adoptanteController.selected.usuarioIdusuario}" title="#{bundle.CreateAdoptanteTitle_usuarioIdusuario}" required="true" requiredMessage="#{bundle.CreateAdoptanteRequiredMessage_usuarioIdusuario}">
                        <f:selectItems value="#{usuarioController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{adoptanteController.create}" value="#{bundle.CreateAdoptanteSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{adoptanteController.prepareList}" value="#{bundle.CreateAdoptanteShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateAdoptanteIndexLink}"/>
            </h:form>


</html>
