<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditAdoptanteTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditAdoptanteLabel_idAdoptante}" for="idAdoptante" />
                    <h:inputText id="idAdoptante" value="#{adoptanteController.selected.idAdoptante}" title="#{bundle.EditAdoptanteTitle_idAdoptante}" required="true" requiredMessage="#{bundle.EditAdoptanteRequiredMessage_idAdoptante}"/>
                    <h:outputLabel value="#{bundle.EditAdoptanteLabel_ocupacion}" for="ocupacion" />
                    <h:inputText id="ocupacion" value="#{adoptanteController.selected.ocupacion}" title="#{bundle.EditAdoptanteTitle_ocupacion}" />
                    <h:outputLabel value="#{bundle.EditAdoptanteLabel_edad}" for="edad" />
                    <h:inputText id="edad" value="#{adoptanteController.selected.edad}" title="#{bundle.EditAdoptanteTitle_edad}" />
                    <h:outputLabel value="#{bundle.EditAdoptanteLabel_ife}" for="ife" />
                    <h:inputText id="ife" value="#{adoptanteController.selected.ife}" title="#{bundle.EditAdoptanteTitle_ife}" />
                    <h:outputLabel value="#{bundle.EditAdoptanteLabel_tipoVivienda}" for="tipoVivienda" />
                    <h:inputText id="tipoVivienda" value="#{adoptanteController.selected.tipoVivienda}" title="#{bundle.EditAdoptanteTitle_tipoVivienda}" />
                    <h:outputLabel value="#{bundle.EditAdoptanteLabel_tipoPropiedad}" for="tipoPropiedad" />
                    <h:inputText id="tipoPropiedad" value="#{adoptanteController.selected.tipoPropiedad}" title="#{bundle.EditAdoptanteTitle_tipoPropiedad}" />
                    <h:outputLabel value="#{bundle.EditAdoptanteLabel_usuarioIdusuario}" for="usuarioIdusuario" />
                    <h:selectOneMenu id="usuarioIdusuario" value="#{adoptanteController.selected.usuarioIdusuario}" title="#{bundle.EditAdoptanteTitle_usuarioIdusuario}" required="true" requiredMessage="#{bundle.EditAdoptanteRequiredMessage_usuarioIdusuario}">
                        <f:selectItems value="#{usuarioController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{adoptanteController.update}" value="#{bundle.EditAdoptanteSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditAdoptanteViewLink}"/>
                <br />
                <h:commandLink action="#{adoptanteController.prepareList}" value="#{bundle.EditAdoptanteShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditAdoptanteIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
