<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:body>
        

    


            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListAdoptanteEmpty}" rendered="#{adoptanteController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{adoptanteController.items.rowCount > 0}">
                    <h:outputText value="#{adoptanteController.pagination.pageFirstItem + 1}..#{adoptanteController.pagination.pageLastItem + 1}/#{adoptanteController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{adoptanteController.previous}" value="#{bundle.Previous} #{adoptanteController.pagination.pageSize}" rendered="#{adoptanteController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{adoptanteController.next}" value="#{bundle.Next} #{adoptanteController.pagination.pageSize}" rendered="#{adoptanteController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{adoptanteController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAdoptanteTitle_idAdoptante}"/>
                            </f:facet>
                            <h:outputText value="#{item.idAdoptante}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAdoptanteTitle_ocupacion}"/>
                            </f:facet>
                            <h:outputText value="#{item.ocupacion}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAdoptanteTitle_edad}"/>
                            </f:facet>
                            <h:outputText value="#{item.edad}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAdoptanteTitle_ife}"/>
                            </f:facet>
                            <h:outputText value="#{item.ife}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAdoptanteTitle_tipoVivienda}"/>
                            </f:facet>
                            <h:outputText value="#{item.tipoVivienda}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAdoptanteTitle_tipoPropiedad}"/>
                            </f:facet>
                            <h:outputText value="#{item.tipoPropiedad}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAdoptanteTitle_usuarioIdusuario}"/>
                            </f:facet>
                            <h:outputText value="#{item.usuarioIdusuario}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{adoptanteController.prepareView}" value="#{bundle.ListAdoptanteViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{adoptanteController.prepareEdit}" value="#{bundle.ListAdoptanteEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{adoptanteController.destroy}" value="#{bundle.ListAdoptanteDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{adoptanteController.prepareCreate}" value="#{bundle.ListAdoptanteCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListAdoptanteIndexLink}"/>
            </h:form>


    </h:body>
</html>
