<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewAdoptanteTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewAdoptanteLabel_idAdoptante}"/>
                    <h:outputText value="#{adoptanteController.selected.idAdoptante}" title="#{bundle.ViewAdoptanteTitle_idAdoptante}"/>
                    <h:outputText value="#{bundle.ViewAdoptanteLabel_ocupacion}"/>
                    <h:outputText value="#{adoptanteController.selected.ocupacion}" title="#{bundle.ViewAdoptanteTitle_ocupacion}"/>
                    <h:outputText value="#{bundle.ViewAdoptanteLabel_edad}"/>
                    <h:outputText value="#{adoptanteController.selected.edad}" title="#{bundle.ViewAdoptanteTitle_edad}"/>
                    <h:outputText value="#{bundle.ViewAdoptanteLabel_ife}"/>
                    <h:outputText value="#{adoptanteController.selected.ife}" title="#{bundle.ViewAdoptanteTitle_ife}"/>
                    <h:outputText value="#{bundle.ViewAdoptanteLabel_tipoVivienda}"/>
                    <h:outputText value="#{adoptanteController.selected.tipoVivienda}" title="#{bundle.ViewAdoptanteTitle_tipoVivienda}"/>
                    <h:outputText value="#{bundle.ViewAdoptanteLabel_tipoPropiedad}"/>
                    <h:outputText value="#{adoptanteController.selected.tipoPropiedad}" title="#{bundle.ViewAdoptanteTitle_tipoPropiedad}"/>
                    <h:outputText value="#{bundle.ViewAdoptanteLabel_usuarioIdusuario}"/>
                    <h:outputText value="#{adoptanteController.selected.usuarioIdusuario}" title="#{bundle.ViewAdoptanteTitle_usuarioIdusuario}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{adoptanteController.destroyAndView}" value="#{bundle.ViewAdoptanteDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewAdoptanteEditLink}"/>
                <br />
                <h:commandLink action="#{adoptanteController.prepareCreate}" value="#{bundle.ViewAdoptanteCreateLink}" />
                <br />
                <h:commandLink action="#{adoptanteController.prepareList}" value="#{bundle.ViewAdoptanteShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewAdoptanteIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
