<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">
        
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateMascotasTitle}"></h:outputText>
        </ui:define>
        
        <ui:define name="body">
            <h:form>
                <p:panelGrid columns="2">
                    <p:outputLabel value="#{bundle.CreateMascotasLabel_nombre}" for="nombre" />
                    <p:inputText id="nombre" value="#{mascotasController.selected.nombre}" title="#{bundle.CreateMascotasTitle_nombre}" required="true" requiredMessage="#{bundle.CreateMascotasRequiredMessage_nombre}"/>
                    <p:outputLabel value="#{bundle.CreateMascotasLabel_especie}" for="especie" />
                    <p:selectOneMenu id="especie" value="#{mascotasController.selected.especie}"   required="true" requiredMessage="#{bundle.CreateMascotasRequiredMessage_especie}">
                        <f:selectItem itemValue="Perro" itemLabel="Perro" />
                        <f:selectItem itemValue="Gato" itemLabel="Gato" />
                    </p:selectOneMenu>
                    <p:outputLabel value="#{bundle.CreateMascotasLabel_raza}" for="raza" />
                    <p:inputText id="raza" value="#{mascotasController.selected.raza}" title="#{bundle.CreateMascotasTitle_raza}" required="true" requiredMessage="#{bundle.CreateMascotasRequiredMessage_raza}"/>
                    <p:outputLabel value="#{bundle.CreateMascotasLabel_tamanio}" for="tamanio" /> 
                    <p:selectOneMenu id="tamanio" value="#{mascotasController.selected.tamanio}"   required="true" requiredMessage="#{bundle.CreateMascotasRequiredMessage_tamanio}">
                        <f:selectItem itemValue="0" itemLabel="Pequeño" />
                        <f:selectItem itemValue="1" itemLabel="Mediano" />
                        <f:selectItem itemValue="2" itemLabel="Grande" />
                    </p:selectOneMenu>
                    <p:outputLabel value="#{bundle.CreateMascotasLabel_descripcion}" for="descripcion" />
                    <p:inputText id="descripcion" value="#{mascotasController.selected.descripcion}" title="#{bundle.CreateMascotasTitle_descripcion}" required="true" requiredMessage="#{bundle.CreateMascotasRequiredMessage_descripcion}"/>
                    <p:outputLabel value="#{bundle.CreateMascotasLabel_foto}" for="foto" />
                    <p:inputText id="foto" value="#{mascotasController.selected.foto}" title="#{bundle.CreateMascotasTitle_foto}" required="true" requiredMessage="#{bundle.CreateMascotasRequiredMessage_foto}"/>
                    <p:outputLabel value="#{bundle.CreateMascotasLabel_sexo}" for="sexo" />
                    <p:inputText id="sexo" value="#{mascotasController.selected.sexo}" title="#{bundle.CreateMascotasTitle_sexo}" required="true" requiredMessage="#{bundle.CreateMascotasRequiredMessage_sexo}"/>
                    <p:outputLabel value="#{bundle.CreateMascotasLabel_color}" for="color" />
                    <p:inputText id="color" value="#{mascotasController.selected.color}" title="#{bundle.CreateMascotasTitle_color}" required="true" requiredMessage="#{bundle.CreateMascotasRequiredMessage_color}"/>
                    <p:outputLabel value="#{bundle.CreateMascotasLabel_SParticulares}" for="SParticulares" />
                    <p:inputText id="SParticulares" value="#{mascotasController.selected.SParticulares}" title="#{bundle.CreateMascotasTitle_SParticulares}" required="true" requiredMessage="#{bundle.CreateMascotasRequiredMessage_SParticulares}"/>
                    <p:outputLabel value="#{bundle.CreateMascotasLabel_fechaNacimiento}" for="fechaNacimiento" />
                    <p:calendar id="fechaNacimiento" pattern="MM/dd/yyyy" value="#{mascotasController.selected.fechaNacimiento}" title="#{bundle.EditMascotasTitle_fechaNacimiento}" required="true"  showOn="button" requiredMessage="#{bundle.CreateMascotasRequiredMessage_fechaNacimiento}"/>
                </p:panelGrid>
                <p:commandButton action="#{mascotasController.create}" value="#{bundle.CreateMascotasSaveLink}" />

            </h:form>
        </ui:define>
    </ui:composition>

</html>
