<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditMascotasTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditMascotasLabel_idmascotas}" for="idmascotas" />
                    <h:inputText id="idmascotas" value="#{mascotasController.selected.idmascotas}" title="#{bundle.EditMascotasTitle_idmascotas}" required="true" requiredMessage="#{bundle.EditMascotasRequiredMessage_idmascotas}"/>
                    <h:outputLabel value="#{bundle.EditMascotasLabel_nombre}" for="nombre" />
                    <h:inputText id="nombre" value="#{mascotasController.selected.nombre}" title="#{bundle.EditMascotasTitle_nombre}" required="true" requiredMessage="#{bundle.EditMascotasRequiredMessage_nombre}"/>
                    <h:outputLabel value="#{bundle.EditMascotasLabel_especie}" for="especie" />
                    <h:inputText id="especie" value="#{mascotasController.selected.especie}" title="#{bundle.EditMascotasTitle_especie}" required="true" requiredMessage="#{bundle.EditMascotasRequiredMessage_especie}"/>
                    <h:outputLabel value="#{bundle.EditMascotasLabel_raza}" for="raza" />
                    <h:inputText id="raza" value="#{mascotasController.selected.raza}" title="#{bundle.EditMascotasTitle_raza}" required="true" requiredMessage="#{bundle.EditMascotasRequiredMessage_raza}"/>
                    <h:outputLabel value="#{bundle.EditMascotasLabel_tamanio}" for="tamanio" />
                    <h:inputText id="tamanio" value="#{mascotasController.selected.tamanio}" title="#{bundle.EditMascotasTitle_tamanio}" required="true" requiredMessage="#{bundle.EditMascotasRequiredMessage_tamanio}"/>
                    <h:outputLabel value="#{bundle.EditMascotasLabel_descripcion}" for="descripcion" />
                    <h:inputText id="descripcion" value="#{mascotasController.selected.descripcion}" title="#{bundle.EditMascotasTitle_descripcion}" required="true" requiredMessage="#{bundle.EditMascotasRequiredMessage_descripcion}"/>
                    <h:outputLabel value="#{bundle.EditMascotasLabel_foto}" for="foto" />
                    <h:inputText id="foto" value="#{mascotasController.selected.foto}" title="#{bundle.EditMascotasTitle_foto}" required="true" requiredMessage="#{bundle.EditMascotasRequiredMessage_foto}"/>
                    <h:outputLabel value="#{bundle.EditMascotasLabel_sexo}" for="sexo" />
                    <h:inputText id="sexo" value="#{mascotasController.selected.sexo}" title="#{bundle.EditMascotasTitle_sexo}" required="true" requiredMessage="#{bundle.EditMascotasRequiredMessage_sexo}"/>
                    <h:outputLabel value="#{bundle.EditMascotasLabel_color}" for="color" />
                    <h:inputText id="color" value="#{mascotasController.selected.color}" title="#{bundle.EditMascotasTitle_color}" required="true" requiredMessage="#{bundle.EditMascotasRequiredMessage_color}"/>
                    <h:outputLabel value="#{bundle.EditMascotasLabel_SParticulares}" for="SParticulares" />
                    <h:inputText id="SParticulares" value="#{mascotasController.selected.SParticulares}" title="#{bundle.EditMascotasTitle_SParticulares}" required="true" requiredMessage="#{bundle.EditMascotasRequiredMessage_SParticulares}"/>
                    <h:outputLabel value="#{bundle.EditMascotasLabel_fechaNacimiento}" for="fechaNacimiento" />
                    <h:inputText id="fechaNacimiento" value="#{mascotasController.selected.fechaNacimiento}" title="#{bundle.EditMascotasTitle_fechaNacimiento}" required="true" requiredMessage="#{bundle.EditMascotasRequiredMessage_fechaNacimiento}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                </h:panelGrid>
                <h:commandLink action="#{mascotasController.update}" value="#{bundle.EditMascotasSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditMascotasViewLink}"/>
                <br />
                <h:commandLink action="#{mascotasController.prepareList}" value="#{bundle.EditMascotasShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditMascotasIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
