<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListMascotasTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                
                <h:outputText escape="false" value="#{bundle.ListMascotasEmpty}" rendered="#{mascotasController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{mascotasController.items.rowCount > 0}">
                    <h:outputText value="#{mascotasController.pagination.pageFirstItem + 1}..#{mascotasController.pagination.pageLastItem + 1}/#{mascotasController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{mascotasController.previous}" value="#{bundle.Previous} #{mascotasController.pagination.pageSize}" rendered="#{mascotasController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{mascotasController.next}" value="#{bundle.Next} #{mascotasController.pagination.pageSize}" rendered="#{mascotasController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{mascotasController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMascotasTitle_idmascotas}"/>
                            </f:facet>
                            <h:outputText value="#{item.idmascotas}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMascotasTitle_nombre}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombre}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMascotasTitle_especie}"/>
                            </f:facet>
                            <h:outputText value="#{item.especie}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMascotasTitle_raza}"/>
                            </f:facet>
                            <h:outputText value="#{item.raza}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMascotasTitle_tamanio}"/>
                            </f:facet>
                            <h:outputText value="#{item.tamanio}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMascotasTitle_descripcion}"/>
                            </f:facet>
                            <h:outputText value="#{item.descripcion}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMascotasTitle_foto}"/>
                            </f:facet>
                            <h:outputText value="#{item.foto}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMascotasTitle_sexo}"/>
                            </f:facet>
                            <h:outputText value="#{item.sexo}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMascotasTitle_color}"/>
                            </f:facet>
                            <h:outputText value="#{item.color}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMascotasTitle_SParticulares}"/>
                            </f:facet>
                            <h:outputText value="#{item.SParticulares}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMascotasTitle_fechaNacimiento}"/>
                            </f:facet>
                            <h:outputText value="#{item.fechaNacimiento}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:link outcome="/index" value="#{bundle.ListMascotasIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
