<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewMascotasTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewMascotasLabel_idmascotas}"/>
                    <h:outputText value="#{mascotasController.selected.idmascotas}" title="#{bundle.ViewMascotasTitle_idmascotas}"/>
                    <h:outputText value="#{bundle.ViewMascotasLabel_nombre}"/>
                    <h:outputText value="#{mascotasController.selected.nombre}" title="#{bundle.ViewMascotasTitle_nombre}"/>
                    <h:outputText value="#{bundle.ViewMascotasLabel_especie}"/>
                    <h:outputText value="#{mascotasController.selected.especie}" title="#{bundle.ViewMascotasTitle_especie}"/>
                    <h:outputText value="#{bundle.ViewMascotasLabel_raza}"/>
                    <h:outputText value="#{mascotasController.selected.raza}" title="#{bundle.ViewMascotasTitle_raza}"/>
                    <h:outputText value="#{bundle.ViewMascotasLabel_tamanio}"/>
                    <h:outputText value="#{mascotasController.selected.tamanio}" title="#{bundle.ViewMascotasTitle_tamanio}"/>
                    <h:outputText value="#{bundle.ViewMascotasLabel_descripcion}"/>
                    <h:outputText value="#{mascotasController.selected.descripcion}" title="#{bundle.ViewMascotasTitle_descripcion}"/>
                    <h:outputText value="#{bundle.ViewMascotasLabel_foto}"/>
                    <h:outputText value="#{mascotasController.selected.foto}" title="#{bundle.ViewMascotasTitle_foto}"/>
                    <h:outputText value="#{bundle.ViewMascotasLabel_sexo}"/>
                    <h:outputText value="#{mascotasController.selected.sexo}" title="#{bundle.ViewMascotasTitle_sexo}"/>
                    <h:outputText value="#{bundle.ViewMascotasLabel_color}"/>
                    <h:outputText value="#{mascotasController.selected.color}" title="#{bundle.ViewMascotasTitle_color}"/>
                    <h:outputText value="#{bundle.ViewMascotasLabel_SParticulares}"/>
                    <h:outputText value="#{mascotasController.selected.SParticulares}" title="#{bundle.ViewMascotasTitle_SParticulares}"/>
                    <h:outputText value="#{bundle.ViewMascotasLabel_fechaNacimiento}"/>
                    <h:outputText value="#{mascotasController.selected.fechaNacimiento}" title="#{bundle.ViewMascotasTitle_fechaNacimiento}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{mascotasController.destroyAndView}" value="#{bundle.ViewMascotasDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewMascotasEditLink}"/>
                <br />
                <h:commandLink action="#{mascotasController.prepareCreate}" value="#{bundle.ViewMascotasCreateLink}" />
                <br />
                <h:commandLink action="#{mascotasController.prepareList}" value="#{bundle.ViewMascotasShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewMascotasIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
