<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Pagina de Administrador</title>
            </f:facet>

        </h:head>

        <h:body>

            <p:layout fullPage="true">

                <p:layoutUnit position="north" size="100" resizable="false" closable="true" collapsible="true">
                    <h2 align="center">Pagina del Administrador</h2>
                </p:layoutUnit>

                <p:layoutUnit position="south" size="100" resizable="false" closable="true" collapsible="true">
                    <h:form>
                        <p:commandButton ajax="false" icon="ui-icon-closethick" action="#{usuarioController.cerrarSession()}" value="Cerrar Session"/>
                    </h:form>

                </p:layoutUnit>


                <p:layoutUnit position="center">

                    <p:tabView orientation="left"  >

                        <p:tab title="Registro de Mascota" >

                            <p:panel id="datosmascota" header="Datos de la mascota" >

                                <ui:include src="../Admin/Create.xhtml"/>

                            </p:panel>

                        </p:tab>



                        <p:tab title="Consulta Adopciones">
                            <p:panel header="Lista de Adopciones">
                                <ui:include src="../Admin/List.xhtml"/>
                            </p:panel>
                        </p:tab>

                        <p:tab title="Registro Veterinario">
                            <p:panel header="Registro de Veterinario">
                                <ui:include src="../Admin/registrarvet.xhtml"/>
                            </p:panel>
                        </p:tab>


                    </p:tabView>

                </p:layoutUnit>

            </p:layout>
        </h:body>
    </f:view>
</html>

