<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">



    <ui:composition template="./../Templates/templateamdmin.xhtml">

        <ui:define name="title">
            <h:outputText value="#{bundle.CreateMascotasTitle}"></h:outputText>
        </ui:define>

        <ui:define name="content">
            <h:form id="formmascota">
                <p:growl id="growl" life="2000" />
                <h:panelGrid id="panel1" columns="3" >

                    <p:outputLabel value="#{bundle.CreateMascotasLabel_nombre}" for="nombre" />
                    <p:inputText id="nombre" value="#{mascotasController.selected.nombre}" title="#{bundle.CreateMascotasTitle_nombre}" required="true" requiredMessage="Se requiere un nombre"/>
                    <p:message for="nombre"/>
                    <p:outputLabel value="#{bundle.CreateMascotasLabel_especie}" for="especie" />
                    <p:selectOneMenu id="especie" value="#{mascotasController.selected.especie}"   required="true" style="width: 165px;">
                        <f:selectItem itemValue="Perro" itemLabel="Perro" />
                        <f:selectItem itemValue="Gato" itemLabel="Gato" />
                    </p:selectOneMenu>
                    <p:message for="especie"/>
                    <p:outputLabel value="#{bundle.CreateMascotasLabel_raza}" for="raza" />
                    <p:inputText id="raza" value="#{mascotasController.selected.raza}" title="#{bundle.CreateMascotasTitle_raza}" required="true" requiredMessage="Se requiere una raza"/>
                    <p:message for="raza"/>
                    <p:outputLabel value="#{bundle.CreateMascotasLabel_tamanio}" for="tamanio" /> 
                    <p:selectOneMenu id="tamanio" value="#{mascotasController.selected.tamanio}"   required="true" requiredMessage="#{bundle.CreateMascotasRequiredMessage_tamanio}" style="width: 165px;">
                        <f:selectItem itemValue="0" itemLabel="Pequeño" />
                        <f:selectItem itemValue="1" itemLabel="Mediano" />
                        <f:selectItem itemValue="2" itemLabel="Grande" />
                    </p:selectOneMenu>
                    <p:message for="tamanio"/>
                    <p:outputLabel value="#{bundle.CreateMascotasLabel_descripcion}" for="descripcion" />
                    <p:inputText id="descripcion" value="#{mascotasController.selected.descripcion}" title="#{bundle.CreateMascotasTitle_descripcion}" required="true" requiredMessage="Se requiere de una descripcion de la personalidad de la"/>
                    <p:message for="descripcion"/>
                    <p:outputLabel value="#{bundle.CreateMascotasLabel_foto}" for="foto" />
                    <p:inputText id="foto" value="#{mascotasController.selected.foto}" title="#{bundle.CreateMascotasTitle_foto}" required="true" requiredMessage="Se requiere del nombre de la foto que se usara"/>
                    <p:message for="foto"/>
                    <p:outputLabel value="#{bundle.CreateMascotasLabel_sexo}" for="sexo" />
                    <p:selectOneMenu id="sexo" value="#{mascotasController.selected.sexo}"   required="true" style="width: 165px;" >
                        <f:selectItem itemValue="M" itemLabel="M" />
                        <f:selectItem itemValue="F" itemLabel="F" />
                    </p:selectOneMenu>
                    <p:message for="sexo"/>
                    <p:outputLabel value="#{bundle.CreateMascotasLabel_color}" for="color" />
                    <p:inputText id="color" value="#{mascotasController.selected.color}" title="#{bundle.CreateMascotasTitle_color}" required="true" requiredMessage="Se requiere el color de la mascota"/>
                    <p:message for="color"/>
                    <p:outputLabel value="Señas Particulares" for="SParticulares" />
                    <p:inputText id="SParticulares" value="#{mascotasController.selected.SParticulares}" title="#{bundle.CreateMascotasTitle_SParticulares}" required="true" requiredMessage="Se requieren señas particulares de la masctoa"/>
                    <p:message for="SParticulares"/>
                    <p:outputLabel value="Fecha de Nacimiento" for="fechaNacimiento" />
                    <p:calendar id="fechaNacimiento" pattern="MM/dd/yyyy" value="#{mascotasController.selected.fechaNacimiento}" title="#{bundle.EditMascotasTitle_fechaNacimiento}" required="true"  showOn="button" requiredMessage="Se requiere de la fecha de nacimiento de la mascota" />
                    <p:message for="fechaNacimiento"/>
                </h:panelGrid>
                
                <p:commandButton icon="ui-icon-disk"  action="#{mascotasController.create()}"  ajax="false" update="growl" value="Guardar" />
                <p:spacer width="25px"/>
                <p:button value="Reiniciar" icon="ui-icon-radio-off" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
