<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:composition template="./../Templates/templateamdmin.xhtml">
        <ui:define name="title">
            <h:outputText value="Lista de Adopciones"></h:outputText>
        </ui:define>
        <ui:define name="content">
            <h:form >
                

                <h:outputText escape="false" value="#{bundle.ListAdopcionEmpty}" rendered="#{adopcionController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{adopcionController.items.rowCount > 0}">
                    <h:outputText value="#{adopcionController.pagination.pageFirstItem + 1}..#{adopcionController.pagination.pageLastItem + 1}/#{adopcionController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{adopcionController.previous}" value="#{bundle.Previous} #{adopcionController.pagination.pageSize}" rendered="#{adopcionController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{adopcionController.next}" value="#{bundle.Next} #{adopcionController.pagination.pageSize}" rendered="#{adopcionController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{adopcionController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 3px; text-align: center">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Adoptante"/>
                            </f:facet>
                            <h:outputText value="#{item.adoptanteidAdoptante.usuarioIdusuario.nombre}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Mascota"/>
                            </f:facet>
                            <h:outputText value="#{item.mascotasIdmascotas.nombre}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Resultado"/>
                            </f:facet>
                            <h:outputText value="#{item.resultado}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Evaluacion Aprobada"/>
                            </f:facet>
                            
                            <p:selectBooleanCheckbox value="#{adopcionController.Adoptado(item.adopcionAprobada)}" disabled="true" />
                        </h:column>
                        <h:column>
                            <p:growl id="growl" life="2000" />
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            -
                            <p:commandButton ajax="false" icon="ui-icon-circle-check" value="Aprobar" action="#{adopcionController.Adopta()}" update="growl"  disabled="#{adopcionController.Adoptado(item.adopcionAprobada)}"/>
                            -
                        </h:column>
                    </h:dataTable>

                </h:panelGroup>


            </h:form>

            <p:dialog id="dialogo1" widgetVar="adopdialog" header="confirmacion">

                <h:form id="Adoptform" >
                    
                    <h:panelGroup id="display" >
                        <p:panelGrid columns="2" >
                            <h:outputText value="Nombre Completo del Adoptante"/>
                            <h:outputText value="#{adopcionController.selected.adoptanteidAdoptante.usuarioIdusuario.nombre}" title="#{bundle.ViewAdopcionTitle_idadopcion}"/>
                            <h:outputText value="Mascota que desea Adoptar"/>
                            <h:outputText value="#{adopcionController.selected.mascotasIdmascotas.nombre}" title="#{bundle.ViewAdopcionTitle_resultado}"/>
                            <h:outputText value="Direccion del Adoptante"/>
                            <h:outputText value="#{adopcionController.selected.adoptanteidAdoptante.usuarioIdusuario.direccion}" title="#{bundle.ViewAdopcionTitle_adopcionAprobada}"/>
                            <h:outputText value="Resultado del Sistema"/>
                            <h:outputText value="#{adopcionController.selected.resultado}" title="#{bundle.ViewAdopcionTitle_adoptanteidAdoptante}"/>
                        </p:panelGrid>
                        
                    </h:panelGroup>
                    
                    <p:commandButton value="Cerrar" onclick="adopdialog.hide()"/>
                </h:form>

            </p:dialog>

        </ui:define>
    </ui:composition>

</html>
