<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="./../Templates/templateamdmin.xhtml">
        
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateMascotasTitle}"></h:outputText>
        </ui:define>
        
        <ui:define name="content">
        <h:form>
            <p:growl id="mensaje" autoUpdate="true" showDetail="true"/>

                <h:panelGrid columns="3" id="datosuser">
                    <p:outputLabel for="nombre" value="Nombre:"/>
                    <p:inputText id="nombre" value="#{usuarioController.user.nombre}" required="true"/>
                    <p:message for="nombre"/>
                    <p:outputLabel for="correo" value="Correo:"/>
                    <p:inputText id="correo" value="#{usuarioController.user.email}" required="true"/>
                    <p:message for="correo"/>
                    <p:outputLabel for="pass1" value="Contraseña:"/>
                    <p:password id="pass1" value="#{usuarioController.user.password}" required="true" match="pass2" feedback="true" promptLabel="Ingrese una Caontraseña"/>
                    <p:message for="pass1"/>
                    <p:outputLabel for="pass2" value="Repetir Contraseña:"/>
                    <p:password id="pass2" required="true"/>
                    <p:message for="pass2"/>
                    <p:outputLabel for="user" value="Usuario"/>
                    <p:inputText id="user" value="#{usuarioController.user.usuario}" required="true" />
                    <p:message for="user"/>
                    <p:outputLabel for="vet" value="Cedula Prof."/>
                    <p:inputText id="vet" value="#{usuarioController.vet.cedulaProfecional}" required="true"/>
                    <p:message for="vet"/>
                    <p:outputLabel for="tel" value="Telfono:"/>
                    <p:inputText id="tel"  value="#{usuarioController.user.telefono}" required="true"/>
                    <p:message for="tel"/>
                    <p:outputLabel for="dom" value="Domicilio"/>
                    <p:inputTextarea id="dom" value="#{usuarioController.user.direccion}" required="true"/>
                    <p:message for="dom"/>
                    <p:column/>
                    <p:commandButton icon="ui-icon-check" value="Registrar" update="datosuser,mensaje" actionListener="#{usuarioController.registrarveterinario()}"/>
                </h:panelGrid>

        </h:form>
     </ui:define>
    </ui:composition>

</html>
