<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <body>
    
            <h:panelGroup id="messagePanel" layout="block">
                <p:messages />
            </h:panelGroup>
            <h:form>
                <p:fieldset legend="Crear consulta" style="margin-bottom:20px">
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateConsultaLabel_expedienteIdexpediente}" for="expedienteIdexpediente" />
                    <h:outputLabel value="#{expedienteController.selected.idexpediente}" title="#{bundle.EditExpedienteTitle_edoSalud}" />
                    <h:outputLabel value="Nombre de la Mascota "/>
                    <h:outputLabel value="#{expedienteController.selected.mascotasIdmascotas.nombre}"/>
                    
                    <p:outputLabel value="Veterinario: " />
                        <p:selectOneMenu value="#{consultaController.selected.veterinarioidVeterinario}" required="true">
                            <f:selectItems value="#{veterinarioController.listaVeterinario}" var="vete" itemLabel="#{vete.usuarioIdusuario.nombre}"
                                           itemValue="#{vete}"/>
                        </p:selectOneMenu>
                    
                    <h:outputLabel value="#{bundle.CreateConsultaLabel_tratamiento}" for="tratamiento" />
                    <p:selectOneMenu id="consulta" value="#{consultaController.selected.tratamiento}" required="true" requiredMessage="#{bundle.CreateConsultaRequiredMessage_veterinarioidVeterinario}">
                        <f:selectItem itemLabel="Vacunacion" itemValue="Vacunacion"/>
                        <f:selectItem itemLabel="Desparacitacion" itemValue="Desparacitacion"/>
                        <f:selectItem itemLabel="Consulta General" itemValue="Consulta General"/>
                    </p:selectOneMenu>
                    
                    <p:outputLabel for="popup" value="Fecha:" />
                        <p:calendar id="popup" value="#{consultaController.selected.fecha}" />
                        
                    <h:outputLabel value="Observaciones" for="descrip" />
                    <p:inputTextarea rows="6" cols="33" value="#{consultaController.selected.descrip}"/>
                        
                    <p:commandButton action="#{consultaController.create2(expedienteController.selected)}" value="#{bundle.CreateExpedienteSaveLink}" />
                    <p:commandButton action="List" value="Cancelar"/>
                </h:panelGrid>
                </p:fieldset>
                
            </h:form>

    </body>
        
</html>
