<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="./../Templates/tamplateveternario.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditExpedienteTitle}"></h:outputText>
        </ui:define>
        <ui:define name="content">
            <h:panelGroup id="messagePanel" layout="block">
                <p:messages />
            </h:panelGroup>
            <h:form>
                <p:fieldset legend="Actualizacion del estado de salud" style="margin-bottom:20px">
                    <h:panelGrid columns="2">
                        <h:outputLabel value="Actualizar estado de salud de la mascota"/>
                        <h:outputLabel value="#{expedienteController.selected.mascotasIdmascotas.nombre}"/>
                        <h:outputLabel value="#{bundle.EditExpedienteLabel_edoSalud}" for="edoSalud" />

                        <p:selectOneMenu  value="#{expedienteController.selected.edoSalud}" required="true" >
                            <f:selectItem itemLabel="Saludable" itemValue="1"/>
                            <f:selectItem itemLabel="En tratamiento" itemValue="0"/>
                        </p:selectOneMenu>
                        
                        <p:commandButton action="#{expedienteController.update}" value="Actualizar"/>
                        <p:commandButton action="List" value="Cancelar"/>
                    </h:panelGrid>
                </p:fieldset>
                
            </h:form>
        </ui:define>
    </ui:composition>

</html>
