<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <body>
        <ui:composition template="./../Templates/tamplateveternario.xhtml">
            <ui:define name="title">
                <h:outputText value="Bienvenido"></h:outputText>
            </ui:define>
            <ui:define name="content">
                <h:form styleClass="jsfcrud_list_form">
                    <p:fieldset legend="Expedientes" style="margin-bottom:20px">
                        <h:panelGroup id="messagePanel" layout="block">
                            <p:messages />
                        </h:panelGroup>
                        <h:outputText escape="false" value="#{bundle.ListExpedienteEmpty}" rendered="#{expedienteController.items.rowCount == 0}"/>
                        <h:panelGroup rendered="#{expedienteController.items.rowCount > 0}">
                            <h:outputText value="#{expedienteController.pagination.pageFirstItem + 1}..#{expedienteController.pagination.pageLastItem + 1}/#{expedienteController.pagination.itemsCount}"/>&nbsp;
                            <h:commandLink action="#{expedienteController.previous}" value="#{bundle.Previous} #{expedienteController.pagination.pageSize}" rendered="#{expedienteController.pagination.hasPreviousPage}"/>&nbsp;
                            <h:commandLink action="#{expedienteController.next}" value="#{bundle.Next} #{expedienteController.pagination.pageSize}" rendered="#{expedienteController.pagination.hasNextPage}"/>&nbsp;
                            <p:dataTable value="#{expedienteController.items}" var="item" >
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="#{bundle.ListExpedienteTitle_idexpediente}"/>
                                    </f:facet>
                                    <h:outputText value="#{item.idexpediente}"/>
                                </p:column>

                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Nombre de la mascota"/>
                                    </f:facet>
                                    <h:outputText value="#{item.mascotasIdmascotas.nombre}"/>
                                </p:column>

                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="#{bundle.ListExpedienteTitle_edoSalud}"/>
                                    </f:facet>
                                    
                                      <h:outputText  value="#{EDOdeSALUD.estadoDeSaludDeLaMascota(item.edoSalud)}"/>
                                </p:column>

                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="&nbsp;"/>
                                    </f:facet>

                                    <p:commandLink action="#{expedienteController.prepareCreate2()}" value="Crear consulta"/>
                                    <h:outputText value=" "/>
                                    <p:commandLink action="#{expedienteController.prepareEdit}" value="Actualizar"/>
                                    <h:outputText value=" "/>
                                    <p:commandLink action="#{expedienteController.prepareView}" value="Historial de Consultas"/>
                                </p:column>
                            </p:dataTable>
                        </h:panelGroup>

                    </p:fieldset>
                    <br />
                    <h:link outcome="/index" value="#{bundle.ListExpedienteIndexLink}"/>
                    
                </h:form>
            </ui:define>
        </ui:composition>
        


    </body>

</html>
