<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="./../Templates/tamplateveternario.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewExpedienteTitle}"></h:outputText>
        </ui:define>
        <ui:define name="content">
            <h:panelGroup id="messagePanel" layout="block">
                <p:messages />
            </h:panelGroup>
            <h:form>
                <p:fieldset legend="Historial de Consultas" style="margin-bottom:20px">
                    <p:dataTable var="car" value="#{consultaController.getHistorialConsultas(expedienteController.selected.idexpediente)}">
                        <p:column headerText="Tipo de consulta">
                            <h:outputText value="#{car.tratamiento}" />
                        </p:column>

                        <p:column headerText="Fecha">
                            <h:outputText value="#{car.fecha}" />
                        </p:column>

                        <p:column headerText="Nombre">
                            <h:outputText value="#{car.veterinarioidVeterinario.usuarioIdusuario.nombre}" />
                        </p:column>
                        
                    </p:dataTable> 
                    <br />
                    <p:commandButton action="List" value="Cancelar"/>
                </p:fieldset>
 
            </h:form>
        </ui:define>
    </ui:composition>

</html>
