<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Facelets Template</title>
        <h:outputStylesheet library="css" name="jsfcrud.css"/>
        <f:event type="preRenderView" listener="#{usuarioController.VerificarSessionUsuario()}"/>
    </h:head>

    <h:body>

        <div id="top">
            <ui:insert name="top"></ui:insert>
        </div>

        <div id="content" class="center_content">
            <ui:insert name="content"></ui:insert>
        </div>

        <div id="bottom">
            <ui:insert name="bottom"></ui:insert>
        </div>

        <p:layoutUnit position="south" size="100" resizable="false" closable="true" collapsible="true">
            <h:form>
                <p:commandButton ajax="false" icon="ui-icon-closethick" action="#{usuarioController.cerrarSession()}" value="Cerrar Session"/>
            </h:form>

        </p:layoutUnit>

    </h:body>

</html>
