<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
       
        <p>
            
           Su solicitud fue enviada en los próximos días recibirá un correo donde si fue aprobado se le darán las indicaciones para finalizar el proceso de adopción. 
            
            
        </p>
        
        <h:form>
            
           <p:commandButton action="#{usuarioController.cerrarSession()}" value="Aceptar"/>
       
        
        </h:form>    
        
    </h:body>
</html>

