<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="./../Templates/templateusuario.xhtml">
        <ui:define name="title" >
            <p:outputLabel value="Agregar información"  ></p:outputLabel>
        </ui:define>
        <ui:define name="content">
            
            <p:fieldset legend="Cuestionario">
            
            <h:form>
                <div align="center">
                    <br/>
                    <h2>
                        Conteste el siguiente formulario, medite bien sus respuestas y conteste honestamente
                    </h2>>
                </div>
                <h3>1. ¿Cuánto tiempo puedo dedicarle a mi mascota?</h3>
                <h:panelGrid columns="2"  cellpadding="10" cellspacing="2"   >
                    <p:selectOneRadio id="pregunta1"  value="#{mascotasController.pregunta1}" layout="grid" columns="2"  required="true"> 
                        <f:selectItems value="#{mascotasController.lista}"  />
                    </p:selectOneRadio>
                </h:panelGrid>
                <h3>2. ¿Cuánto estoy dispuesto a gastar para su manutención mensual?</h3>
                <h:panelGrid columns="2"  cellpadding="10" cellspacing="2"   >
                    <p:selectOneRadio id="pregunta2"  value="#{mascotasController.pregunta2}" layout="grid" columns="2"  required="true"  >
                        <f:selectItems value="#{mascotasController.lista2}"  />
                    </p:selectOneRadio>
                </h:panelGrid>
                <h3> 3. ¿Por que deseas un perro? </h3>
                <h:panelGrid columns="2"  cellpadding="10" cellspacing="2"   >
                    <p:selectOneRadio id="pregunta3"  value="#{mascotasController.pregunta3}" layout="grid" columns="2"  required="true" >
                        <f:selectItems value="#{mascotasController.lista3}"  />
                    </p:selectOneRadio>
                </h:panelGrid>
                <h3> 4. ¿Qué tan frecuente te mudas de casa? </h3>
                <h:panelGrid columns="2"  cellpadding="10" cellspacing="2"   >
                    <p:selectOneRadio id="pregunta4"  value="#{mascotasController.pregunta4}" layout="grid" columns="2"  required="true" >
                        <f:selectItems value="#{mascotasController.lista4}"  />
                    </p:selectOneRadio>
                </h:panelGrid>
                <h3> 5. ¿En qué espacio viviría? </h3>
                <h:panelGrid columns="2"  cellpadding="10" cellspacing="2"   >
                    <p:selectOneRadio id="pregunta5"  value="#{mascotasController.pregunta5}" layout="grid" columns="2"  required="true"  >
                        <f:selectItems value="#{mascotasController.lista5}"  />
                    </p:selectOneRadio>
                </h:panelGrid>
                <h3> 6.  ¿Cuando viajas, donde se quedara tu perro? </h3>
                <h:panelGrid columns="2"  cellpadding="10" cellspacing="2"   >
                    <p:selectOneRadio id="pregunta6"  value="#{mascotasController.pregunta6}" layout="grid" columns="2"   required="true" >
                        <f:selectItems value="#{mascotasController.lista6}"  />
                    </p:selectOneRadio>
                </h:panelGrid>       
                <h3> 7. ¿Alguna de las personas que vivirán en casa con la mascota tienen las siguientes características? </h3>
                <h:panelGrid columns="2"  cellpadding="10" cellspacing="2"   >
                    <p:selectOneRadio id="pregunta7"  value="#{mascotasController.pregunta7}" layout="grid" columns="2"  required="true" >
                        <f:selectItems value="#{mascotasController.lista7}"  />
                    </p:selectOneRadio>
                </h:panelGrid>       
                <h3> 8. En cuanto tu perro muerda zapatos o muebles y haga travesuras: </h3>
                <h:panelGrid columns="2"  cellpadding="10" cellspacing="2"   >
                    <p:selectOneRadio id="pregunta8"  value="#{mascotasController.pregunta8}" layout="grid" columns="2"  required="true" >
                        <f:selectItems value="#{mascotasController.lista8}"  />
                    </p:selectOneRadio>
                </h:panelGrid>  
                <h3> 9. ¿Cómo describirías el comportamiento de tus hijos? </h3>
                <h:panelGrid columns="2"  cellpadding="10" cellspacing="2"   >
                    <p:selectOneRadio id="pregunta9"  value="#{mascotasController.pregunta9}" layout="grid" columns="2"  required="true"  >
                        <f:selectItems value="#{mascotasController.lista9}"  />
                    </p:selectOneRadio>
                </h:panelGrid>   
                <br/>
                <div align="center">
                    <h:panelGrid columns="2"  cellpadding="10" cellspacing="2"   >
                        <p:commandButton id="submit" value="Aceptar "  action="#{mascotasController.registroAdopcion}"   /> 

                        <p:commandButton id="submit2" action="index" value="Cancelar" />
                    </h:panelGrid>  
                </div>
            </h:form>
            
            </p:fieldset>
            
        </ui:define>
    </ui:composition>
</html>
