<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateVeterinarioTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateVeterinarioLabel_idVeterinario}" for="idVeterinario" />
                    <h:inputText id="idVeterinario" value="#{veterinarioController.selected.idVeterinario}" title="#{bundle.CreateVeterinarioTitle_idVeterinario}" required="true" requiredMessage="#{bundle.CreateVeterinarioRequiredMessage_idVeterinario}"/>
                    <h:outputLabel value="#{bundle.CreateVeterinarioLabel_cedulaProfecional}" for="cedulaProfecional" />
                    <h:inputText id="cedulaProfecional" value="#{veterinarioController.selected.cedulaProfecional}" title="#{bundle.CreateVeterinarioTitle_cedulaProfecional}" />
                    <h:outputLabel value="#{bundle.CreateVeterinarioLabel_usuarioIdusuario}" for="usuarioIdusuario" />
                    <h:selectOneMenu id="usuarioIdusuario" value="#{veterinarioController.selected.usuarioIdusuario}" title="#{bundle.CreateVeterinarioTitle_usuarioIdusuario}" required="true" requiredMessage="#{bundle.CreateVeterinarioRequiredMessage_usuarioIdusuario}">
                        <f:selectItems value="#{usuarioController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{veterinarioController.create}" value="#{bundle.CreateVeterinarioSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{veterinarioController.prepareList}" value="#{bundle.CreateVeterinarioShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateVeterinarioIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
