<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewVeterinarioTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewVeterinarioLabel_idVeterinario}"/>
                    <h:outputText value="#{veterinarioController.selected.idVeterinario}" title="#{bundle.ViewVeterinarioTitle_idVeterinario}"/>
                    <h:outputText value="#{bundle.ViewVeterinarioLabel_cedulaProfecional}"/>
                    <h:outputText value="#{veterinarioController.selected.cedulaProfecional}" title="#{bundle.ViewVeterinarioTitle_cedulaProfecional}"/>
                    <h:outputText value="#{bundle.ViewVeterinarioLabel_usuarioIdusuario}"/>
                    <h:outputText value="#{veterinarioController.selected.usuarioIdusuario}" title="#{bundle.ViewVeterinarioTitle_usuarioIdusuario}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{veterinarioController.destroyAndView}" value="#{bundle.ViewVeterinarioDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewVeterinarioEditLink}"/>
                <br />
                <h:commandLink action="#{veterinarioController.prepareCreate}" value="#{bundle.ViewVeterinarioCreateLink}" />
                <br />
                <h:commandLink action="#{veterinarioController.prepareList}" value="#{bundle.ViewVeterinarioShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewVeterinarioIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
