<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
        
        <h:outputStylesheet library="css" name="principal.css"/>
    </h:head>
    <h:body id="principal">
        <p:menubar>
            <f:facet name="options">
                <h:form>
                    <p:commandButton  value="Regresar" action="/index"  />
                </h:form>
            </f:facet>
        </p:menubar>
        <h:form>
            <p:growl id="mensaje" autoUpdate="true" showDetail="true"/>
            <p:fieldset legend="Datos De Usuario">
                <h:panelGrid columns="3" id="datosuser">
                    <p:outputLabel for="nombre" value="Nombre:"/>
                    <p:inputText id="nombre" value="#{usuarioController.user.nombre}" required="true"/>
                    <p:message for="nombre"/>
                    <p:outputLabel for="correo" value="Correo:"/>
                    <p:inputText id="correo" value="#{usuarioController.user.email}" required="true"/>
                    <p:message for="correo"/>
                    <p:outputLabel for="pass1" value="Contraseña:"/>
                    <p:password id="pass1" value="#{usuarioController.user.password}" required="true" match="pass2" feedback="true" promptLabel="Ingrese una Caontraseña"/>
                    <p:message for="pass1"/>
                    <p:outputLabel for="pass2" value="Repetir Contraseña:"/>
                    <p:password id="pass2" required="true"/>
                    <p:message for="pass2"/>
                    <p:outputLabel for="user" value="Usuario"/>
                    <p:inputText id="user" value="#{usuarioController.user.usuario}" required="true"/>
                    <p:message for="user"/>
                    <p:outputLabel for="tel" value="Telfono:"/>
                    <p:inputText id="tel"  value="#{usuarioController.user.telefono}" required="true"/>
                    <p:message for="tel"/>
                    <p:outputLabel for="dom" value="Domicilio"/>
                    <p:inputTextarea id="dom" value="#{usuarioController.user.direccion}" required="true"/>
                    <p:message for="dom"/>
                    <p:outputLabel  value="Ocupacion:" for="ocupacion" />
                    <p:inputText id="ocupacion" value="#{usuarioController.adopta.ocupacion}" required="true"/>
                    <p:message for="ocupacion"/>
                    <p:outputLabel for="ife" value="Ife:"  />
                    <p:inputText id="ife" value="#{usuarioController.adopta.ife}" required="true"/>
                    <p:message for="ife"/>
                    <p:outputLabel  value="Edad:" for="edad" />
                    <p:spinner id="edad" value="#{usuarioController.adopta.edad}"  min="18" size="3" required="true"/>
                    <p:message for="edad"/>
                    <p:outputLabel for="viviend" value="Tipo de vivienda"  />       
                    <p:selectOneRadio id="viviend"  value="#{usuarioController.adopta.tipoVivienda}"  required="true" >
                        <f:selectItem itemLabel="Departamento   &nbsp;"  itemValue="0"   />
                        <f:selectItem itemLabel="Casa &nbsp;" itemValue="1" />
                        <f:selectItem itemLabel="Habitación &nbsp; " itemValue="2"/>
                        <f:selectItem itemLabel="Condominio" itemValue="3"/>
                    </p:selectOneRadio>
                    <p:message for="viviend"/>
                    <p:outputLabel for="propie" value="La propiedad es:"  />       
                    <p:selectOneRadio id="propie"  value="#{usuarioController.adopta.tipoPropiedad}"  required="true" >
                        <f:selectItem itemLabel="Propia   &nbsp;"  itemValue="0"   />
                        <f:selectItem itemLabel="Renta &nbsp;" itemValue="1" />
                        <f:selectItem itemLabel="Vivo con mis padres  &nbsp; " itemValue="2"/>
                    </p:selectOneRadio>
                    <p:message for="propie"/>
                    
                    <p:commandButton  icon="ui-icon-check" value="Registrar" update="datosuser,mensaje" action="#{usuarioController.registraruser()}"/>
                    
                    <p:column/>
                </h:panelGrid>
            </p:fieldset>

        </h:form>
    </h:body>
</html>

