<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <h:outputStylesheet library="css" name="principal.css"/>
    </h:head>

    <h:body id="principal">

        <p:fieldset legend="Mascotas">



            <h:form styleClass="jsfcrud_list_form">

                <h:panelGroup rendered="#{mascotasController.items.rowCount > 0}" >

                    <h:dataTable value="#{mascotaData.mascotaList}" var="c" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px; width: 800px">

                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMascotasTitle_nombre}"/>
                            </f:facet>
                            <h:outputText value="#{c.nombre}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMascotasTitle_especie}"/>
                            </f:facet>
                            <h:outputText value="#{c.especie}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMascotasTitle_raza}"/>
                            </f:facet>
                            <h:outputText value="#{c.raza}"/>
                        </h:column>

                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Descripción"/>
                            </f:facet>
                            <h:outputText value="#{c.descripcion}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMascotasTitle_foto}"/>
                            </f:facet>
                            <p:graphicImage library="images" name="#{c.foto}.jpg" style="width: 100px;"/>

                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMascotasTitle_sexo}"/>
                            </f:facet>
                            <h:outputText value="#{c.sexo}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMascotasTitle_color}"/>
                            </f:facet>
                            <h:outputText value="#{c.color}"/>
                        </h:column>


                        <h:column>
                            <p:growl id="growl7" life="2000" />
                            <p:commandButton id="submit" value="Adoptame"  update="growl7" ajax="false"  action="login" actionListener="#{anonController.Intento}"/> 
                        </h:column>

                    </h:dataTable>      

                </h:panelGroup>
                <br />

            </h:form>

        </p:fieldset>

    </h:body>

</html>
