<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
        
        <h:outputStylesheet library="css" name="principal.css"/>
    </h:head>
    <h:body id="principal">
        <h:panelGroup id="messagePanel" layout="block">
            <p:messages />
        </h:panelGroup>
        <div id="marco">
            <p:menubar  >
                <f:facet name="options"  >
                    <h:form >
                        <p:commandButton value="Registrase" action="usuario/Registrar" icon="ui-icon-plusthick" />
                        <p:commandButton value="Login" action="login" icon="ui-icon-key" />
                    </h:form>
                </f:facet>
            </p:menubar>
            <h:graphicImage library="images" name="slaider.png" width="100%" />
            <h1 style="margin-top:0; font-family: fantasy" align="center">Bienvenido</h1>
            <p:accordionPanel>
                <p:tab title="¿Quíenes Somos?">
                    <h:panelGrid columns="2" cellpadding="10">
                        <p:graphicImage library="images" name="adoptar.jpg" />
                        <p:column>
                            <h3>
                                Somos una organizacion que se dedica a rescatar perros y gatos de la calle para poder proporcionarles
                                un cuidado y tratamiento para poder encontrarles un nuevo hogar.  
                            </h3>
                            <h3>Tenemos 5 años de laborar en el area de Metepec y gracias a la comunidad hemos crecido de 
                                muchas formas. Con nuestra labor buscamos atacar el problema de los animales abandonados y
                                maltratados.</h3>
                            <h3>Con tu ayuda podemos hacer la diferencia.</h3>
                        </p:column>
                    </h:panelGrid>
                </p:tab>
                <p:tab title="¡Conoce a tu nuevo Amigo!">
                    <h:panelGrid columns="2" cellpadding="10">
                        <p:column>
                            <ui:include src="anoncatalogo.xhtml"/>
                        </p:column>


                    </h:panelGrid>
                </p:tab>
                <p:tab title="¿Dónde nos ubicamos?">
                    <h:panelGrid columns="2" cellpadding="10">
                        <p:graphicImage library="images" name="mapa.png" width="200px" height="200px"/>
                        <p:column>
                            <h3>Para mayores informesnos puedes contactar al telefono: 722-354-6487</h3>
                            <h3>O vistarnos en:</h3>
                            <h3>Paseo San Isifro 202 en Metepec Estado de Mexico.</h3>
                        </p:column>
                    </h:panelGrid>
                </p:tab>
            </p:accordionPanel>
        </div>

    </h:body>
</html>

