<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
        
        <h:outputStylesheet library="css" name="principal.css"/>
    </h:head>
    <h:body id="principal">
        <p:menubar>
            <f:facet name="options">
                <h:form>
                    <p:commandButton ajax="false" action="/index" value="Regresar"/>
                </h:form>
            </f:facet>
        </p:menubar>


        <p:fieldset legend="Login de Usuario" style="border-width: thick;">
            <h:form>
                <p:growl id="mensaje" autoUpdate="true" showDetail="true"/>
                
                <h:panelGrid columns="2" style="padding: 35px">
                    <p:outputLabel for="usuario" value="Usuario"/>
                    <p:inputText id="usuario" value="#{usuarioController.user.usuario}" required="true"/>
                    <p:outputLabel for="pass" value="Contraseña"/>
                    <p:password id="pass" value="#{usuarioController.user.password}" required="true"/>
                    <p:column/>
                    <p:commandButton icon="ui-icon-check" value="Iniciar Session" action="#{usuarioController.iniciarSession()}"/>

                </h:panelGrid>
            </h:form>

            <h:form>
                <p:commandButton value="Registrase" action="usuario/Registrar" icon="ui-icon-circle-arrow-e" />
            </h:form>

        </p:fieldset>



    </h:body>
</html>

